fastapi==0.104.1
pydantic==2.5.2
uvicorn==0.24.0
pytest-shutil==1.7.0
service==0.6.0
langchain==0.0.344
numpy==1.26.2
pypdf==3.17.1
qdrant-client==1.6.9
sentence-transformers==2.2.2
python-multipart==0.0.6
tiktoken==0.5.1
